@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Nanum+Myeongjo:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto+Slab:wght@300&family=Young+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .dark{
    --icon-color: #628bb4;
    --faded-border : linear-gradient(to right, #0d2844,#3e6e9e5c, #0d2844);
    --body-color : #081624;
    --text-color : #3B6187;
    --hover-text-color: #425c6d;
    --foreground-color: #1C2936;
    --shadow-color : #233345;
    --background-color: #0d2844;
    --figma-gradient : linear-gradient(to bottom,#072542,#021F3D);
    --button-color : #0d2844;
    --dark-text-color: #184d7f;
    --transparent-background-color: #031221bb;
    --border-color:  #071d32;
    --gradient-color: linear-gradient(to right,#274765,#273647);
    --opaque-color : #0000007d;
    --bar-color : #071422;
    --narrator-color : #082f49;
    --invert-text-color : #fff;
    
  }
  .light{
    --icon-color: #628bb4;
    --faded-border : linear-gradient(to right, #ffffffc6,#0000002c, rgba(255, 255, 255, 0.89));
    --body-color : #ebe6e6;
    --text-color : #000;
    --hover-text-color: #000;
    --foreground-color: #f8fbff;
    --shadow-color : #b8bcc1;
    --background-color: rgb(255, 255, 255);
    --figma-gradient : linear-gradient(to bottom,#072542,#021F3D);
    --button-color : #fff;
    --dark-text-color: #184d7f;
    --transparent-background-color: #031221bb;
    --border-color:  #d0d0d0;
    --gradient-color: linear-gradient(to right,#274765,#273647);
    --opaque-color : #b6b6b691;
    --bar-color : #ece6e6;
    --narrator-color : dodgerblue;
    --invert-text-color : #fff;
  }
  .slate{
    --icon-color: #628bb4;
    --faded-border : linear-gradient(to right, #404040,#544949d0, #404040);
    --body-color : #1b1a1a;
    --text-color : #fff;
    --hover-text-color: #000;
    --foreground-color: #404040;
    --shadow-color : #515151;
    --background-color: #262626;
    --figma-gradient : linear-gradient(to bottom,#072542,#021F3D);
    --button-color : #404040;
    --dark-text-color: #184d7f;
    --transparent-background-color: #031221bb;
    --border-color:  #7c7c7c;
    --gradient-color: linear-gradient(to right,#274765,#273647);
    --opaque-color : #262626af;
    --bar-color : #171717;
    --narrator-color : #393939;
    --invert-text-color : #fff;
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.web-icon{
  color: var(--icon-color);
}
.web-foreground-overlay{
  background: var(--foreground-div-color);
}
.web-border{
  border-color: var(--border-color);
}
.web-input{  
  outline: none;
  height: 40px;
  padding: 3px;
}
.web-gradient{
  background: var(--figma-gradient);
}
.web-transparent{
  background: var(--transparent-background-color);
}
.ui-button{
  padding: 0.5rem;
  width: 5rem;
  border-radius:10px;
  margin-bottom: 0.5rem;
  transition: all 0.1s ease-in;
}
.ui-button:hover{
  scale: 105%;
}
.web-button, .web-button-yellow{
  font-weight:600;
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  transition: all 0.15s ease-in;
}
.web-foreground-button{
  display: inline-block !important;
  text-align: center;
  padding: 2px;
  width: 80px;
  height: 30px;
  
  transition: all 0.1s ease-in;
}
.web-foreground-button:hover{
  scale: 105% !important;
}
.web-button:hover{
  scale: 105%;
}

.web-text{
  color:var(--text-color) ;
}
.web-text:hover{
  color: var(--hover-text-color);
}
.web-text-dark{
  color: var(--dark-text-color);
}
.web-body{
  background-color: var(--body-color);
}
.web-foreground{
  background-color: var(--foreground-color);
}
.web-background{
  background-color: var(--background-color);
}
.active li{
  border-bottom: 2px;
}
.faded-border{
  border-image : var(--faded-border);
  border-image-slice: 1;
}